.navbar{
    background-color: rgba(64, 109, 153, 1);
    width: 17%;
    padding: 20px;
    display: flex;
    justify-content: center;
}
ul{
    padding: 0px;
    margin: 0px;
    width: 70%;
}
ul> li{
    list-style-type: none;
    padding: 5px 0px;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    border: 1px solid gray; 
}
.navbar a{
    text-decoration: none;
}
.container{
    width: 83%
}
.active{
    color: coral;
}
.users_link{
    background-color: cornflowerblue;
    border: 1px solid goldenrod;
    margin-top:10px;
    width: 50%;
    height: 100px;
}
.div{
    width: 250px;
    height: 250px;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 10px;
}
.newdiv{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 30px 10px;
    z-index: 5;
}
.desc{
    width:250px;
    border: 1px solid gray;
    position: absolute;
    font-size: 13px;
    background-color: #A4E4F6FF;
    border-radius: 8px;
    padding: 7px;
    color:rgb(71, 69, 69)
}
